.slider {
  width: 100%;
  background: url("../img/rk-security-sytems-background-1.jpg");
  padding: 50px 0;
  @include sm(padding, 20px 0);
  h3 {
    text-align: center;
    color: $white;
    font-size: 3rem;
    margin: 50px 0 50px 0;
    @include sm(font-size, 1.5rem);
    @include sm(margin, 20px 0 20px 0);
  }
}

.slider_container {
  width: 70%;
  margin: 0 auto;
}

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: $main-red;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  font-size: 1.5rem;
  line-height: 18px;
  @include sm(font-size, 1rem);
  @include xs(font-size, 0.7rem);
}
.flex-control-paging li a{
  background: $white;
}
.flex-control-paging li a.flex-active{
  background: $main-red;
}