body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.debug {
  display: block;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(8.33333% - 30px);
  width: calc(8.33333% - 30px);
  height: inherit;
  outline: 0;
  background: rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

body {
  font-family: "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 14px;
}

main {
  background: url("../img/backkirpich.jpg") no-repeat fixed;
}

.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 55%;
}

.fullscreen-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fullscreen-bg .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-bg .overlay .container {
  color: #FFFFFF;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen-bg .overlay .container h1 {
  font-size: 4rem;
  width: 100%;
  margin: 20px;
}

.fullscreen-bg .overlay .container p {
  font-size: 2rem;
  color: #F1370C;
  width: 100%;
  margin: 10px;
}

.fullscreen-bg .overlay .container .text {
  color: #FFFFFF;
  font-size: 1rem;
  margin-top: 10%;
}

.fullscreen-bg .overlay .container .arrow_top {
  position: relative;
  width: 24px;
  height: 24px;
}

.fullscreen-bg .overlay .container .arrow_top .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.fullscreen-bg .overlay .container .arrow_top .chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.fullscreen-bg .overlay .container .arrow_top .chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.fullscreen-bg .overlay .container .arrow_top .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #FFFFFF;
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
      -ms-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

.fullscreen-bg .overlay .container .arrow_top .chevron:before {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #FFFFFF;
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
      -ms-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.menu {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/rk-security-sytems-background-1.jpg");
  border-bottom: 2px solid #C0C0C0;
  z-index: 102;
}

.menu .logo {
  margin-left: 80px;
}

.menu .logo img {
  width: 191px;
  height: 87px;
}

.menu .menu__links {
  font-family: "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 50px;
}

.menu .menu__links .menu__links-item {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  padding: 5px;
  color: #C0C0C0;
}

.menu .menu__links .menu__links-item:hover {
  color: #FFFFFF;
  border-bottom: 2px solid #F1370C;
}

.menu .menu__links .menu__links-item:hover:before {
  left: 150px;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.menu .menu__links .menu__links-item:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  -webkit-transform: skewX(-45deg);
      -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

.menu .menu__links .menu__links-item-active {
  color: #FFFFFF;
  border-bottom: 2px solid #F1370C;
}

.menu .menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: 50px;
}

.menu .menu__icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #FFFFFF;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu .menu__icon span:nth-child(1) {
  top: 0px;
}

.menu .menu__icon span:nth-child(2) {
  top: 11px;
}

.menu .menu__icon span:nth-child(3) {
  top: 11px;
}

.menu .menu__icon span:nth-child(4) {
  top: 22px;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

.profit {
  padding: 50px 0;
  background: url("../img/backkirpich.jpg") fixed;
}

.profit .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profit .items h2 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 50px;
  color: #F1370C;
}

.profit .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  text-align: center;
}

.profit .items .item img {
  margin: 20px;
}

.profit .items .item p {
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding: 5px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.slider {
  width: 100%;
  background: url("../img/rk-security-sytems-background-1.jpg");
  padding: 50px 0;
}

.slider h3 {
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
  margin: 50px 0 50px 0;
}

.slider_container {
  width: 70%;
  margin: 0 auto;
}

.flex-caption {
  width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: #F1370C;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  line-height: 18px;
}

.flex-control-paging li a {
  background: #FFFFFF;
}

.flex-control-paging li a.flex-active {
  background: #F1370C;
}

.advantage {
  padding: 50px 0;
  background: url("../img/backkirpich.jpg") fixed;
}

.advantage h3 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 50px;
  color: #F1370C;
}

.advantage .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantage .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border: 3px solid #F1370C;
  padding: 10px;
  margin-bottom: 25px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.advantage .items .item img {
  width: 90px;
  height: 90px;
}

.advantage .items .item .item_header {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  color: #FFFFFF;
  font-size: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advantage .items .item .item_header p {
  width: 100%;
}

.advantage .items .item .item_header button {
  background: #F1370C;
  font-size: 0.9rem;
  margin-top: 10px;
  height: 30px;
  width: 110px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  outline-style: none;
  color: #FFFFFF;
}

.advantage .items .item .item_text {
  width: 100%;
  display: none;
  color: #FFFFFF;
  margin-top: 10px;
}

.advantage .items .item .item_text p {
  line-height: 20px;
}

.advantage .items .item .item_text h5 {
  font-size: 1rem;
  margin: 5px;
  text-align: center;
}

.gallery {
  width: 100%;
  background: #FFFFFF;
  padding-top: 100px;
}

svg.polaroid rect {
  stroke: #F1370C;
}

#photostack-1 nav span.current {
  background: #F1370C;
}

footer {
  background: url("../img/rk-security-sytems-background-1.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

footer .cont_email {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .cont_email .email {
  background: #F1370C;
  color: #FFFFFF;
  font-size: 2rem;
  margin: 50px 0 30px 0;
  padding: 0 10px;
  width: 320px;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

footer .telefon {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .telefon p {
  color: #FFFFFF;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
}

footer .telefon .line {
  border: 1px solid #FFFFFF;
  height: 40px;
}

footer .telefon .adress {
  width: 100%;
  margin-bottom: 50px;
}

footer .cooperation {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin-top: 80px;
}

#popup__toggle {
  bottom: 25px;
  right: 10px;
  position: fixed;
  z-index: 500;
  outline: none;
}

#popup__toggle .img-circle {
  background-color: #F1370C;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#popup__toggle .circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #D03B18;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#popup__toggle .circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #D03B18;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 35px;
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#popup__toggle .img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
}

#popup__toggle .img-circle:hover {
  opacity: 1;
}

#popup__toggle .img-circle .img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  background-image: url(../img/messaging.png);
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
}

@keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }

  50% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }

  100% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
}

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
  }

  50% {
    -webkit-transform: rotate(8deg);
  }

  100% {
    -webkit-transform: rotate(-8deg);
  }
}

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }

  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
  }

  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;
  }
}

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }

  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

.modal-form {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 320px;
  height: 550px;
  top: 15%;
  left: 50%;
  margin-left: -160px;
}

.modal-form .smart-form {
  background: #FFFFFF;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  width: 320px;
  height: 550px;
  z-index: 15;
}

.modal-form .smart-form .form-header {
  background: #F1370C;
  border-bottom: 2px solid #5f1605;
  padding: 5% 0;
  font-size: 2rem;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-form .smart-form .form-header span {
  margin: 0 10px 0 auto;
  font-size: 1.5rem;
}

.modal-form .smart-form .form-header i {
  margin: 10px;
}

.modal-form .smart-form .form-body {
  -webkit-border-radius: 7px;
          border-radius: 7px;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.modal-form .smart-form .form-body .form-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.modal-form .smart-form .form-body .form-section label {
  display: block;
  width: 100%;
  margin: 5px;
}

.modal-form .smart-form .form-body .form-section .prepend-icon {
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%;
  padding: 7px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-form .smart-form .form-body .form-section .prepend-icon:hover {
  border: 1px solid #F1370C;
}

.modal-form .smart-form .form-body .form-section .prepend-icon input {
  font-size: 1rem;
  line-height: 20px;
  border: none;
  outline: none;
  width: 100%;
}

.modal-form .smart-form .form-body .form-section .prepend-icon textarea {
  font-size: 1rem;
  height: 100px;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
}

.modal-form .smart-form .form-body .form-section .prepend-icon span {
  margin: 7px;
  color: #C0C0C0;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.modal-form .smart-form .form-body .form-section .prepend-icon span.select_fa {
  color: #F1370C;
}

.modal-form .smart-form .form-body .form-section .select_input {
  border: 1px solid #F1370C;
}

.modal-form .smart-form .form-footer {
  background: #F5F5F5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  border-top: 2px solid #C0C0C0;
}

.modal-form .smart-form .form-footer .button-form {
  width: 50%;
  height: 30px;
  margin: 20px;
  background: #F1370C;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  color: #FFFFFF;
  outline: none;
}

.overlay_form {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.8;
}

.cart {
  padding-top: 150px;
}

.cart .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.cart .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #F1370C;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.cart .items .item:hover {
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.cart .items .item .cart_header {
  width: 100%;
}

.cart .items .item .cart_body {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .items .item .cart_body .cart_text {
  -webkit-flex-basis: 55%;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%;
  text-align: left;
  padding: 20px;
  font-size: 1rem;
}

.cart .items .item .cart_body .cart_text h6 {
  margin-bottom: 20px;
  text-align: center;
  color: #F1370C;
  font-size: 1.2rem;
}

.cart .items .item .cart_body .cart_price {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  font-size: 1rem;
}

.cart .items .item .cart_body .cart_price p:first-child {
  font-size: 1.5rem;
  color: #F1370C;
}

.cart .items .item .cart_body .cart_price button {
  background: #F1370C;
  width: 80%;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px;
  text-align: center;
  outline-style: none;
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .profit .items .item p {
    font-size: 1.5rem;
  }

  #popup__toggle {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 1200px) {
  .fullscreen-bg .overlay .container h1 {
    font-size: 3rem;
    margin: 10px;
  }

  .fullscreen-bg .overlay .container p {
    font-size: 1.5rem;
    margin: 5px;
  }

  .fullscreen-bg .overlay .container .text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1050px) {
  .menu .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 93px;
    margin-right: 0;
    padding-bottom: 5px;
    background: url("../img/rk-security-sytems-background-1.jpg");
    z-index: 1000;
    overflow: auto;
  }

  .menu .menu__links .menu__links-item {
    display: block;
    padding: 10px 5px;
    text-align: left;
  }

  .menu .menu__icon {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .profit .items h2 {
    font-size: 2rem;
  }

  .profit .items .item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .profit .items .item p {
    font-size: 1.2rem;
  }

  .advantage h3 {
    font-size: 2rem;
  }

  .advantage .items .item .item_header {
    font-size: 1rem;
  }

  .advantage .items .item .item_header button {
    font-size: 0.7rem;
  }

  #popup__toggle {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .cart .items .item {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }
}

@media (max-width: 992px) {
  .fullscreen-bg .overlay .container h1 {
    font-size: 2rem;
  }

  .fullscreen-bg .overlay .container p {
    font-size: 1rem;
  }

  .fullscreen-bg .overlay .container .text {
    font-size: 0.7rem;
    margin-top: 5%;
  }

  .fullscreen-bg .overlay .container .arrow_top {
    width: 12px;
    height: 12px;
  }

  .fullscreen-bg .overlay .container .arrow_top .chevron {
    width: 14px;
    height: 4px;
  }
}

@media screen and (max-width: 768px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .profit .items h2 {
    font-size: 1.6rem;
  }

  .slider {
    padding: 20px 0;
  }

  .slider h3 {
    font-size: 1.5rem;
  }

  .slider h3 {
    margin: 20px 0 20px 0;
  }

  .flex-caption {
    font-size: 1rem;
  }

  .advantage h3 {
    font-size: 1.6rem;
  }

  #popup__toggle {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 768px) {
  .fullscreen-bg {
    background: url("../img/backvideo.jpg") center center/cover no-repeat;
  }

  .fullscreen-bg video {
    display: none;
  }

  .fullscreen-bg .overlay .container .text {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu .logo {
    margin-left: 20px;
  }

  .menu .menu__icon {
    margin-right: 20px;
  }

  .profit .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .flex-caption {
    font-size: 0.7rem;
  }

  .advantage .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer .telefon .line {
    display: none;
  }

  #popup__toggle {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }

  .cart .items .item {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}

@media (max-width: 576px) {
  .fullscreen-bg .overlay {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .fullscreen-bg .overlay .container h1 {
    font-size: 1.2rem;
    margin-bottom: 17%;
  }

  .fullscreen-bg .overlay .container p {
    display: none;
  }

  .fullscreen-bg .overlay .container .arrow_top {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
